<div class="card mb-5">
  <div class="card-body">
    {{> 'partial/team' }}
    <p class="card-text mt-2"><small class="text-muted">{{ CreatedAt }}</small></p>
  </div>
  <img src={{ScreenshotPath.String}} class="card-img-bottom p-2" alt="Match Screenshot">
</div>