{{> 'partial/navbar' }}

<div class="container my-2">
  <h1>All Awesome Jetti Matches</h1>
  {{#each matches}}
  {{> 'partial/match' this }}
  {{else}}
  <p>No Matches found</p>
  {{/each}}

  {{> 'partial/pagination'}}
</div>

{{> 'partial/footer' }}